.titulopol{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.textopol{
    font-size: 120%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 560px) {
    .titulopol {
        text-align: center;
    }

    .textopol {
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
        line-height: 1.5;
    }
}
