.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 2.5vh;
}

.boton {
    margin-right: 3rem;
    padding: 1rem;
    justify-content: center;
    border-radius: 0.7rem;
}

label {
    justify-content: flex-start;
    font-size: 120%;
    font-weight: bold;
}

input {
    box-sizing: border-box;
    width: 30rem;
    height: 5vh;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.8vh;
    transition: border-color 0.2s;
}

input:focus {
    border-color: rgb(1, 1, 141);
    outline: none;
}

.botones-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.registro-container {
    display: flex;
    justify-content: center;
}

#ya-logueado {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;

    p {
        font-size: 300%;
        align-self: center;
    }

    button {
        font-size: 200%;
        background-color: rgb(1, 1, 141);
        color: white;
        border: none;
        border-radius: 0.3rem;
        padding: 0.5rem;
    }
}