main{
    width: 95%;
    height: 65vh;
    margin-left: 2%;
    background-color: bisque;

    
}

.contactanos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}


.formu{
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 10%;
   
}

.eti, .etimsj{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 120%;
    margin-right: 3%;
    margin-top: 3%;
}

.etimsj{
    margin-top: 0%;
}

.camp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 5vh;
}

.texto{
    width: 70%;
}

.btn{
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

.btn1, .btn2{
    width: 10%;
    height: 4vh;
    font-size: 120%;
    border-radius: 10px;    
}