.cuerpo {
    width: 90%;
    height: 73vh;
    margin-left: 5%;
    background-color: bisque;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding-top: 2%;
}

main {
    height: 73vh;
}

.vuelos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.vue {
    font-size: 150%;
    height: 15vh;
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: rgb(184, 176, 176);
    border-radius: 10px;
    margin-right: 10%;
    margin-bottom: 5%;
}

.vue h1 {
    align-self: center;
}

.porprecio,
.tipovuelo,
.aerolineas,
.subt {
    line-height: 1px;
    margin-left: 10%;
    font-size: 130%;
    margin-bottom: 15%;
}

.tipovuelo {
    display: flex;
    flex-direction: column;
}

.aerolineas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.filtros {
    display: grid;
    padding-left: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: 5% 15% 15% 15%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.equipaje {
    font-size: 150%;
    line-height: 10vh;
}

.resaltar {
    font-style: oblique;
    font-weight: bold;
    color: rgb(4, 4, 243);
}

.pol {
    text-decoration: underline;
}

.imagen-aerolinea {
    justify-content: flex-start;

    img {
        height: 110px;
        width: 110px;
    }
}